body {
  background: #16A085;
}

.contact-details {
  background: #1abc9c;
  color: #FFF;
  padding-bottom: 24px;
}

.contact {
  color: white;
  padding: 38px 0 0 0;
  position: relative; }

.contact-screen {
  background-color: #1abc9c;
  min-height: 317px;
  padding: 123px 199px 33px 306px; }

.contact-icon {
  left: 160px;
  position: absolute;
  top: 160px;
  width: 96px; }
  .contact-icon > img {
    display: block;
    margin-bottom: 6px;
    width: 100%; }
  .contact-icon > h4 {
    font-size: 17px;
    font-weight: 200;
    line-height: 34px;
    opacity: 0.95; }
    .contact-icon > h4 small {
      color: inherit;
      display: block;
      font-size: inherit;
      font-weight: 700; }

.contact-form {
  background-color: #eceff1;
  border-radius: 6px;
  padding: 24px 23px 20px;
  min-height: 140px;
  width: 313px;
  position: relative; }
  .contact-form:before {
    content: "";
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent #eceff1 transparent transparent;
    height: 0px;
    position: absolute;
    left: -12px;
    top: 35px;
    width: 0;
    -webkit-transform: rotate(360deg); }
  .contact-form .control-group {
    margin-bottom: 6px;
    position: relative; }
  .contact-form .contact-field {
    border-color: transparent;
    font-size: 17px;
    padding-bottom: 11px;
    padding-top: 11px;
    text-indent: 3px;
    width: 299px; }
    .contact-form .contact-field:focus + .contact-field-icon {
      color: #1abc9c; }
  .contact-form .contact-field-icon {
    color: #bfc9ca;
    font-size: 16px;
    position: absolute;
    right: 13px;
    top: 14px;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
    -webkit-backface-visibility: hidden; }